<div class="modal" ng-controller="SetCheckPersonPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="close()">&times;</button>
                <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate:property}}</h3>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="col-xs-6">
                        <div class="form-inline">
                            <label>姓名：</label>
                            <input type="text" ng-model="processName" class="form-control"/>
                            <button type="button" class="btn btn-default" ng-click="find()">查找</button>
                        </div>

                        <div style="margin-top: 3px">
                            <table class="table table-striped table-bordered  table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>编号</th>
                                    <th>名字</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="form in formData.rows">
                                    <td><input type="checkbox" ng-true-value="{{form.id}}"
                                               ng-click="updateSelection(form.id,form.name,$event)"></td>
                                    <td>{{form.id}}</td>
                                    <td>{{form.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <span style="text-align: right;margin-left: 200px">当前第[ {{formData.page}} ]页</span>
							<span ng-if="formData.page > 1">
                                <a href="javascript:void(0)" ng-click="findUpPage(formData.page,processName)">上一页</a>
							</span>
							<span ng-if=" formData.page < formData.totalPage ">
							<a href="javascript:void(0)" ng-click="findDowPage(formData.page,processName)">下一页</a>
							</span>


                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div ng-if="translationsRetrieved" class="default-grid" ng-grid="gridOptions"></div>
                        <div class="pull-right">
                            <!--        <div class="btn-group">
                                        <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.UP' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="movePropertyUp()"><i class="glyphicon glyphicon-arrow-up"></i></a>
                                        <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.MOVE.DOWN' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="movePropertyDown()"><i class="glyphicon glyphicon-arrow-down"></i></a>
                                    </div>-->
                            <div class="btn-group">
                                <!--
                                                                <a class="btn btn-icon btn-lg" rel="tooltip" data-title="{{'ACTION.ADD' | translate}}" data-placement="bottom" data-original-title="" title="" ng-click="addNewProperty()"><i class="glyphicon glyphicon-plus"></i></a>
                                -->
                                <a class="btn btn-icon btn-lg" rel="tooltip"
                                   data-title="{{'ACTION.REMOVE' | translate}}" data-placement="bottom"
                                   data-original-title="" title="" ng-click="removeProperty()"><i
                                        class="glyphicon glyphicon-minus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>